.menu-main-mobile {
  position: fixed;
  background: var(--highlight-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 10;
    display: flex;
    li {
      animation: fadeInTop 0.5s ease forwards;
      animation-delay: 0.1s;
      &:nth-of-type(2) {
        animation-delay: 0.15s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.20s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.25s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.30s;
      }
      &:nth-of-type(6) {
        animation-delay: 0.35s;
      }
    }
  }
  ul {
    font-size: 2.5rem;
    @include heading-font;
    font-weight: 700;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 0;
    li {
      display: block;
      position: relative;
      opacity: 0;
      a {
        display: block;
        position: relative;
        color: var(--base-color);
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
      ul.sub-menu {
        font-size: 1.2rem;
        li {
          a {

          }
        }
      }
    }
  }
}

.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--base-color);
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    opacity: 0.7;
  }
}

.hamburger-trigger {
  height: 30px;
  display: flex;
  align-items: center;
  @include breakpoint('x-small') {
    display: none;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

// Dark mode: flip the overlay colors (gray bg, blue text)
@media (prefers-color-scheme: dark) {
  :root:not(.light-mode) {
    .menu-main-mobile {
      background: var(--base-offset-color);

      ul li a {
        color: var(--highlight-color);
      }
    }

    .menu-close {
      &:before,
      &:after {
        background: var(--highlight-color);
      }
    }
  }
}

html.dark-mode {
  .menu-main-mobile {
    background: var(--base-offset-color);

    ul li a {
      color: var(--highlight-color);
    }
  }

  .menu-close {
    &:before,
    &:after {
      background: var(--highlight-color);
    }
  }
}
