.project {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  @include breakpoint('small') {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }
  .project-name {
    margin: 16px 0 16px 0;
    width: 80%;
    font-size: 24px;
    line-height: 30px;
    font-family: var(--font-family-heading);
  }
}
