// When inside .intro, series-nav hugs the image
.intro {
  img.has-series-nav {
    display: block;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
  }

  .series-nav {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 0 4px 4px;
    border-left: none;
  }
}

.series-nav {
  background: var(--code-bg);
  border-left: 4px solid var(--highlight-color);
  padding: 0.75rem 1.25rem;
  margin-bottom: 2rem;
  border-radius: 0 4px 4px 0;

  .series-title {
    font-size: 20px;
    line-height: 1.2;

    @include breakpoint('small') {
      font-size: 24px;
    }
    color: var(--text-color);
    margin-bottom: 0.25rem;

    a {
      color: var(--highlight-color);
      text-decoration: none;
      @include heading-font;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .series-description {
    font-size: 0.85rem;
    line-height: 1.5;
    color: var(--text-color);
    margin: 0 0 0.5rem 0;
  }

  .series-toc {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      margin: 0;
      padding: 0.5rem 0;
      font-size: 1rem;
      border-bottom: 1px solid #303030;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: var(--highlight-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.current {
        color: var(--highlight-color);
        font-weight: 400;
      }
    }
  }
}

.series-list {
  list-style: none;
  padding: 0;

  li {
    margin: 1rem 0;

    a {
      color: var(--highlight-color);
      text-decoration: none;
      @include heading-font;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }

    .count {
      color: var(--text-color);
      font-size: 0.9rem;
    }
  }
}

.series-posts {
  padding-left: 1.5rem;

  li {
    margin: 1rem 0;

    a {
      color: var(--highlight-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .series-description {
      color: var(--text-color);
      font-size: 0.9rem;
      margin: 0.25rem 0 0 0;
    }
  }
}
