.summary {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  @include breakpoint('small') {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 26px;
  }
  .summary-date {
    font-weight: 700;
    color: var(--heading-color);
  }
  .summary-title {
    margin: 4px 0 16px 0;
    font-size: 34px;
    line-height: 38px;
    @include breakpoint('small') {
      font-size: 52px;
      line-height: 58px;
    }
  }
  .summary-description {
  }
  .summary-series-posts {
    list-style: none;
    padding: 0;
    margin-top: 16px;
    li {
      padding: 12px 0;
      border-bottom: 1px solid var(--base-offset-color);
      &:last-child {
        border-bottom: none;
      }
    }
    .summary-series-date {
      display: block;
      font-size: 14px;
      font-weight: 700;
      color: var(--heading-color);
    }
    h3 {
      margin: 2px 0 0 0;
      font-size: 24px;
      line-height: 1.3;
      @include breakpoint('small') {
        font-size: 28px;
      }
      a {
        font-weight: 500;
      }
    }
    .summary-series-description {
      margin: 6px 0 0 0;
      font-size: 16px;
      color: var(--text-color);
    }
  }
}
