// Nord light theme syntax highlighting
.highlight { background: #f0f0f0; color: #2e3440; border: 1px solid #cbcbcb; }
.highlight .hll { background-color: #d8dee9; } /* Highlight line - nord4 */
.highlight .c { color: #4c566a; font-style: italic; } /* Comment - nord3 */
.highlight .err { color: #bf616a; } /* Error - nord11 */
.highlight .k { color: #5e81ac; font-weight: bold; } /* Keyword - nord10 */
.highlight .o { color: #5e81ac; } /* Operator - nord10 */
.highlight .cm { color: #4c566a; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #4c566a; font-weight: bold; } /* Comment.Preproc */
.highlight .c1 { color: #4c566a; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #4c566a; font-weight: bold; } /* Comment.Special */
.highlight .gd { color: #bf616a; } /* Generic.Deleted - nord11 */
.highlight .ge { font-style: italic; } /* Generic.Emph */
.highlight .gr { color: #bf616a; } /* Generic.Error */
.highlight .gh { color: #2e3440; } /* Generic.Heading - nord0 */
.highlight .gi { color: #a3be8c; } /* Generic.Inserted - nord14 */
.highlight .go { color: #4c566a; } /* Generic.Output */
.highlight .gp { color: #4c566a; } /* Generic.Prompt */
.highlight .gs { font-weight: bold; } /* Generic.Strong */
.highlight .gu { color: #2e3440; } /* Generic.Subheading */
.highlight .gt { color: #bf616a; } /* Generic.Traceback */
.highlight .kc { color: #5e81ac; font-weight: bold; } /* Keyword.Constant */
.highlight .kd { color: #5e81ac; font-weight: bold; } /* Keyword.Declaration */
.highlight .kn { color: #5e81ac; } /* Keyword.Namespace */
.highlight .kp { color: #5e81ac; } /* Keyword.Pseudo */
.highlight .kr { color: #5e81ac; font-weight: bold; } /* Keyword.Reserved */
.highlight .kt { color: #8fbcbb; font-weight: bold; } /* Keyword.Type - nord7 */
.highlight .m { color: #b48ead; } /* Literal.Number - nord15 */
.highlight .s { color: #a3be8c; } /* Literal.String - nord14 */
.highlight .na { color: #8fbcbb; } /* Name.Attribute - nord7 */
.highlight .nb { color: #88c0d0; } /* Name.Builtin - nord8 */
.highlight .nc { color: #8fbcbb; font-weight: bold; } /* Name.Class - nord7 */
.highlight .no { color: #d08770; } /* Name.Constant - nord12 */
.highlight .nd { color: #d08770; } /* Name.Decorator - nord12 */
.highlight .ni { color: #2e3440; } /* Name.Entity */
.highlight .ne { color: #bf616a; } /* Name.Exception - nord11 */
.highlight .nf { color: #88c0d0; font-weight: bold; } /* Name.Function - nord8 */
.highlight .nl { color: #8fbcbb; } /* Name.Label */
.highlight .nn { color: #2e3440; } /* Name.Namespace */
.highlight .nt { color: #5e81ac; } /* Name.Tag - nord10 */
.highlight .nv { color: #2e3440; } /* Name.Variable */
.highlight .ow { color: #5e81ac; } /* Operator.Word */
.highlight .w { color: #4c566a; } /* Text.Whitespace */
.highlight .mf { color: #b48ead; } /* Literal.Number.Float */
.highlight .mh { color: #b48ead; } /* Literal.Number.Hex */
.highlight .mi { color: #b48ead; } /* Literal.Number.Integer */
.highlight .mo { color: #b48ead; } /* Literal.Number.Oct */
.highlight .sb { color: #a3be8c; } /* Literal.String.Backtick */
.highlight .sc { color: #a3be8c; } /* Literal.String.Char */
.highlight .sd { color: #4c566a; } /* Literal.String.Doc */
.highlight .s2 { color: #a3be8c; } /* Literal.String.Double */
.highlight .se { color: #ebcb8b; } /* Literal.String.Escape - nord13 */
.highlight .sh { color: #a3be8c; } /* Literal.String.Heredoc */
.highlight .si { color: #a3be8c; } /* Literal.String.Interpol */
.highlight .sx { color: #a3be8c; } /* Literal.String.Other */
.highlight .sr { color: #a3be8c; } /* Literal.String.Regex */
.highlight .s1 { color: #a3be8c; } /* Literal.String.Single */
.highlight .ss { color: #ebcb8b; } /* Literal.String.Symbol - nord13 */
.highlight .bp { color: #88c0d0; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #2e3440; } /* Name.Variable.Class */
.highlight .vg { color: #2e3440; } /* Name.Variable.Global */
.highlight .vi { color: #2e3440; } /* Name.Variable.Instance */
.highlight .il { color: #b48ead; } /* Literal.Number.Integer.Long */
