{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
  <div class="intro">
    <h1>
      {{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}
      <span class="social-icon">
        <a rel="rss" href="index.xml" title="meow" target="_blank" rel="noopener">
          <img src="/images/social/square-rss.svg" alt="RSS"/>
        </a>
      </span>
    </h1>

    {{ if .Params.image }}
    <img src="{{ .Params.image | relURL }}" />
    {{ end }}
  </div>


  {{ .Content }}
  
  {{ range .Pages }}
    {{ .Render "summary" }}
  {{ end }}
{{ end }}
