{{ with .Params.series }}
{{ $currentPage := $ }}
{{ $parent := $currentPage.Parent }}
{{/* Only show series nav if parent is a subsection (not a top-level section), skip music */}}
{{ if and $parent (not $parent.IsHome) ($parent.Parent) (ne $currentPage.Section "music") }}
  <div class="series-nav">
    <p class="series-title">
      <a href="{{ $parent.Permalink }}">{{ $parent.Title }}</a> series
    </p>
    <ol class="series-toc">
      {{/* Music section: newest to oldest. Everywhere else: oldest to newest */}}
      {{ $pages := $parent.Pages.ByWeight }}
      {{ if eq $currentPage.Section "music" }}
        {{ $pages = $parent.Pages.ByWeight.Reverse }}
      {{ end }}
      {{ range $pages }}
      <li{{ if eq . $currentPage }} class="current"{{ end }}>
        {{ if eq . $currentPage }}
          <strong>{{ .Title }}</strong>
        {{ else }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ol>
  </div>
{{ end }}
{{ end }}
